@page "/Professor/Questoes/Create"
@inherits CreateQuestao

<EditForm Model="questao" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary style=" color:red" />
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Adicionar Questão</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="user_Professor/Questoes/Index">Questões</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <b>Adicionar Questão</b>
                    </h3>
                </div>
                <div class="card-body">
                    @if (!isLoading)
                    {
                        <span style="color:red">@Message</span>
                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Data">Assunto *</label>
                                <div class="input-group">
                                    <select @bind="questao.AssuntoId" class="form-control" placeholder="Data" id="Data">
                                        @foreach (var assunto in Assuntos)
                                        {
                                            if (assunto.Id == questao.AssuntoId)
                                            {
                                                <option value=@assunto.Id selected>@assunto.Nome.ToUpperInvariant()</option>
                                            }
                                            else
                                            {
                                                <option value=@assunto.Id>@assunto.Nome.ToUpperInvariant()</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-5 mb-3">
                                <label for="Data">Professor *</label>
                                <div class="input-group">
                                    <select @bind="questao.ProfessorId" class="form-control" placeholder="Data" id="Data">
                                        @foreach (var professor in Professores)
                                        {
                                            if (professor.Id == questao.ProfessorId)
                                            {
                                                <option value=@professor.Id selected>@professor.Nome.ToUpperInvariant()</option>
                                            }
                                            else
                                            {
                                                <option value=@professor.Id>@professor.Nome.ToUpperInvariant()</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 mb-3">
                                <label for="Data">Pergunta *</label>
                                <div class="input-group">
                                    <textarea @bind="questao.Pergunta" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Nome">Alternativa 1 *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="questao.opcao_0" class="form-control" id="questao_0" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 mb-3">
                                <label for="Nome">Alternativa 2 *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="questao.opcao_1" class="form-control" id="questao_1" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Nome">Alternativa 3 *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="questao.opcao_2" class="form-control" id="questao_2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 mb-3">
                                <label for="Nome">Alternativa 4 *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="questao.opcao_3" class="form-control" id="questao_3" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Nome">Resposta Correta *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="questao.resposta" class="form-control" id="resposta" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-check"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button @onclick="@(()=>Navigation.NavigateTo("/Professor/Questoes/Index"))" class="btn btn-outline-danger btn-sm ml-1 mr-1" style="float:right">Cancelar</button>
                        <button type="submit" class="btn btn-outline-info btn-sm" style="float:right">Salvar</button>
                    }
                    else
                    {
                        <svg style="margin: auto; background: none; display: block; shape-rendering: auto;" width="150px" height="150px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <rect x="17.5" y="30" width="15" height="40" fill="#30b3e9">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="10;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3s" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="80;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3s" />
                            </rect>
                            <rect x="42.5" y="30" width="15" height="40" fill="#15e99c">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="15;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="70;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" />
                            </rect>
                            <rect x="67.5" y="29.8408" width="15" height="40.3183" fill="#2eaac7">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="15;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="70;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" />
                            </rect>
                        </svg>
                    }
                </div>
                </div>
        </div>
    </section>

</EditForm>
