@page "/Admin/Turmas/Edit/{TurmaId:int}/{ano:int}/{semestre:int}"
@inherits EditBase

<EditForm Model="turma" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary style=" color:red" />
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Editar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Admin/Turmas/Index">Turmas</a></li>
                        <li class="breadcrumb-item"><a href="Admin/Turmas/all/@TurmaId">Info</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        @if (!isLoading)
                        {
                            <b>
                                @TurmaId -  @turma.turma.Disciplina.Nome.ToUpper()
                            </b>
                        }

                    </h3>
                </div>
                <div class="card-body">
                    @if (!isLoading)
                    {
                        <span style="color: red;">@message</span>
                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Data">Monitor *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="turma.turma.Monitor.Nome" class="form-control" placeholder="Data" id="Data" disabled />
                                </div>
                            </div>
                            <div class="col-sm-5 mb-3">
                                <label for="Data">Professor *</label>
                                <div class="input-group">
                                    <InputText @bind-Value="turma.turma.professor.Nome" class="form-control" placeholder="Data" id="Data" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="Data">Disciplina</label>
                                <div class="input-group">
                                    <InputText @bind-Value="turma.turma.Disciplina.Nome" class="form-control" placeholder="Nome" id="Nome" disabled />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 mb-3">
                                <label for="Data">Detalhes</label>
                                <div class="input-group">
                                    <InputTextArea @bind-Value="@turma.turma.detalhesMonitoria" class="form-control" disabled></InputTextArea>
                                </div>
                            </div>
                        </div>
                        @if (ano == 0 || semestre == 0)
                        {
                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <label for="Data">Semestre</label>
                                    <div class="input-group">
                                        <select @bind="turma.semestre" @bind:event="oninput" class="form-control" placeholder="Data" id="Data">
                                            <option value=0 selected>Selecione um semestre...</option>
                                            <option value=1>1º</option>
                                            <option value=2>2º</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label for="Data">Ano</label>
                                    <div class="input-group">
                                        <input type="number" @bind="turma.ano" @bind:event="oninput" class="form-control" placeholder="ano" id="Data" />
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <label for="Data">Semestre</label>
                                    <div class="input-group">
                                        <input @bind="turma.semestre" class="form-control" placeholder="Data" id="Data" disabled />
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label for="Data">Ano</label>
                                    <div class="input-group">
                                        <input type="number" @bind="turma.ano" class="form-control" placeholder="ano" id="Data" disabled />
                                    </div>
                                </div>
                            </div>

                        }
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <b>Alunos disponiveis</b>
                                        </h3>
                                    </div>
                                    <div class="card-body.P-0">
                                        <table id="example2" class=" mt-4 table table-striped table-bordered dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th></th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var aluno in Alunos)
                                                {
                                                    <tr>
                                                        <td>@aluno.Nome.ToUpperInvariant()</td>
                                                        <td style="width:10px">
                                                            <button type="button" class="btn btn-outline-info btn-sm" @onclick="(()=>IncluiAluno(aluno.Matricula))"><span><i class="fa fa-plus"></i></span></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <b>Alunos matriculados</b>
                                        </h3>
                                    </div>
                                    <div class="card-body.P-0">
                                        <table id="example2" class=" mt-4 table table-striped table-bordered dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var aluno in turma.alunos)
                                                {
                                                    <tr>
                                                        <td>@aluno.Nome.ToUpperInvariant()</td>
                                                        <td style="width:10px">
                                                            <button type="button" class="btn btn-outline-danger btn-sm" @onclick="(()=>RemoveAluno(aluno.Matricula))"><span><i class="fa fa-trash"></i></span></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="color: red;">@message</span>
                        <button @onclick="@(()=>Navigation.NavigateTo($"/Admin/Turmas/all/{TurmaId}"))" class="btn btn-outline-danger btn-sm ml-1 mr-1" style="float:right">Cancelar</button>
                        <button type="submit" class="btn btn-outline-info btn-sm" style="float:right">Salvar</button>
                    }
                    else
                    {
                        <svg style="margin: auto; background: none; display: block; shape-rendering: auto;" width="150px" height="150px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <rect x="17.5" y="30" width="15" height="40" fill="#30b3e9">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="10;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3s" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="80;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3s" />
                            </rect>
                            <rect x="42.5" y="30" width="15" height="40" fill="#15e99c">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="15;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="70;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" />
                            </rect>
                            <rect x="67.5" y="29.8408" width="15" height="40.3183" fill="#2eaac7">
                                <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="15;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" />
                                <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="70;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" />
                            </rect>
                        </svg>
                    }
                </div>
            </div>
        </div>
    </section>

</EditForm>