@page "/Alunos/Create"
@inherits CreatePage

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Adicionar Alunos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Alunos/List">Alunos</a></li>
                    <li class="breadcrumb-item active">Adicionar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-arrow-up mr-2"></i>
                    <b>Enviar arquivo</b>
                    <i class="fas fa-arrow-up ml-2"></i>
                </h3>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <InputFile OnChange="HandleFile" />
                </div>
                @if (Alunos.Count > 0)
                {
                    <table id="example2" class=" mt-4 table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th @onclick="@(() => SortTable("Matricula"))">Matrícula <span class="fa @(SortIcon("Matricula"))"></span></th>
                                <th @onclick="@(() => SortTable("Nome"))">Nome <span class="fa @(SortIcon("Nome"))"></span></th>
                                <th @onclick="@(() => SortTable("Email"))">Curso <span class="fa @(SortIcon("Curso"))"></span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Aluno in Alunos)
                            {
                                <tr>
                                    <td>@Aluno.Matricula</td>
                                    <td>@Aluno.Nome.ToUpper()</td>
                                    <td>@Aluno.areaId</td>
                                    <td style="width:90px;">
                                        <button type="button" class="btn btn-outline-warning btn-sm"><span><i class="fa fa-edit"></i></span></button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"><span><i class="fa fa-trash"></i></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="mt-4">Aguardando carga do arquivo...</p>
                }
            </div>
            <!-- /.card-body -->
        </div>
    </div><!-- /.container-fluid -->
</section>